.input {
    height: 75px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    background-color: rgb(255, 248, 153);
    color: rgb(0, 0, 0);
    padding: 11px 30px 11px 11px; /*superior derecho inferior izquierdo*/
    margin: 1px solid #8888;
    box-shadow: -1px 4px 1px 1px brown;
    font-size: 2em;
}